@import "../../common/colors.scss";

.movie-list, .show-list {
  margin: 50px 0px;
  h2 {
      color: $font-general;
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
  }
}

.movie-wrapper {
  padding: 40px;
}


