@import "../../common/colors.scss";

.footer {
    background: $secondary-color;
    height: 100px;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    color: $font-primary;
    flex-direction: column;
    text-align: center;
}